{{#if addNewQuestion}}
  <div>
    <form class="question-form">
      <div class="form-group">
       <label for="content">question:</label>
       {{input value=content id="content"}}
     </div>
     <div class="form-group">
       <label for="author">submitted by:</label>
       {{input value=author id="author"}}
     </div>
     <div class="form-group">
       <label for="note">details:</label>
       {{textarea input value=note id="note"}}
     </div>
     <strong><a href="newPage.htm" {{action 'saveQuestion1'}}>submit</a></strong>
    </form>
  </div>
{{else}}
  <strong><a href="newPage.htm" {{action 'questionFormShow'}}>new question</a></strong>
{{/if}}
