<h3>{{question.content}}</h3>
<p>submitted by <span class="author">{{question.author}}</span></p>
<p>{{question.note}}</p>
{{update-question question=question update="update"}}
<strong><a href="newPage.htm" {{action 'delete' question}}>delete question</a></strong>
<hr>
<h3>comments:</h3>
<div class="answers">
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</div>
